* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.Container{

  width: 100%;
  height: fit-content;
  background-color:#324065;
}

/**navbar-1**/

.navbar-1 {
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  padding: 5px;
  justify-content: space-evenly;
}

.icon-p span {
  font-weight: 700;
  font-size: 0.85rem;
  color: white;
}

.icon-p p {
  display: inline-block;
  font-size: 0.7rem;
  color: #cccccc;
}

.icon-p {
  display: flex;
  margin-top: 1rem;
}

.icon-p i {
  display: inline;
  margin-top: 0.4rem;
}

.logo {
  background: url(/amazon_logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 113px;
  height: 60px;
}

/** Search-input**/

.search-input {
  width: 50%;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.search-input input {
  width: 82%;
  height: 2.5rem;
  border-radius: 4px;
  font-size: 0.9rem;
  padding: 5px;
}

.search-input select {
  height: 2.5rem;
  width: 3.1rem;
  border-radius: 4px;
}

.search-input i {
  background-color: orange;
  width: 3rem;
  height: 2.5rem;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

/**Boxes**/

.address-box span {
  font-weight: 700;
}

.boxes {
  display: flex;
  gap: 45px;
  justify-content: center;
  align-items: center;
}

/** Cart**/

.cart {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.cart i {
  font-size: 2rem;
  font-weight: 800;
  align-self: baseline;
}

.cart span {
  font-weight: 700;
}

/** navbar-2**/


.navbar-2{

    width: 100%;
    height: 39px;
    background-color: rgb(35,47,62);
    color: white;
    display: flex;
    align-items: center;
    padding: 0.80rem;
    font-weight: 700;
    font-size: 0.88rem;

}

.navbar-2 i{
    font-size: 1.4rem;
    font-weight: 500;
}

.links a{

    text-decoration: none;
    color: white;
    margin-left: 1rem;
    font-size: 0.88rem;
    font-weight: 500;
}


/** hero-section**/



.hero-section{

    background: url(hero_image.jpg);
    background-size: contain;
    background-repeat: no-repeat;
width: 100%;
height: fit-content;
}

/** shopping-section**/



.shopping-section{

    

    padding-top: 15rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.shop1{

    max-width: 23%;
    height: 58vh;
    background-color: white;
    padding: 0.59rem;
    margin-top: 2rem;
    

}


.shopp img{

    width: 80%;
}

.shopp{

    margin-top: 2rem;
}



.shop1:hover{

  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;


}
.shop1 h2{

    font-size: 1.30rem;
}
.shop1 img{

    width: 100%;
    height: 40vh;
    margin-top: 1rem;
}

.shop1 a{

    color:green;
    text-decoration: none;
    font-size: 0.85rem;
}

.shopp a{

    color:green;
    text-decoration: none;
    font-size: 0.85rem;
}

.shop1-anchor{
    margin-top: 3.5vh;

}


/** Slider-divs**/

.slider-divs{

    width: 100%;
    margin-top: 3rem;
 
}

.slider1{

  padding: 0.50rem 0;
height: 40vh;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  background-color: rgba(255, 255, 255, 0.783);
  border: 5px solid black;

}

.slider1 h4{

  font-size: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 0.50rem;
}

.images{
  margin-inline: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.slider1 img{

  width: 300px;
}


/** Back-to-top**/


.back-top{

  margin-top: 2rem;
}

.backto-top{

  width: 100%;
  height: 60px;
  background-color: rgb(55,71,90);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.back-top:hover{
  background-color: rgb(55,71,90);
  opacity: 0.9;



}

.backto-top a{

  color: white;
  text-decoration: none;
  font-size: 0.90rem;
  font-weight: 600;
}


footer{

  background-color: rgb(35,47,62);
  color: white;
  width: 100%;
  height: 68vh;
  padding-top: 1rem;
}

.foot-links{

  display: flex;
  justify-content: space-evenly;
}

.foot-links a{

  color: white;
  font-size: 0.85rem;
  text-decoration: none;
}

.foot-links li{
margin-top: 1rem;
list-style: none;

}

.logo-section img{

  width: 100px;
  margin-top: 1rem;
}

.logo-section{

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  height: 20%;
  border-top: 1px solid rgb(61, 77, 98);
}


.border:hover{

  border: 1px solid white;
}


/** Media-queries**/


@media screen and (max-width:888px){

  .address-box{

    display: none;
  }

  .cart{

    display: none;
  }

  
  .icon-p{

    display: none;
  }

  .shopping-section{

    flex: wrap;
    flex: 2;
  }


  .shop1{

    max-width: 50%;
  }

  footer{

  }

  .foot-links{

    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }


  .get{

    text-align: center;
    font-size: 2rem;
  }
  

  

}


@media screen and (max-width:582px){

  .Container{

  }

  .navbar-1{
height: 120px;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .shopping-section{

    height: 100vh;
    width: 100%;
  }

  .search-input input{

    width: 90%;
  }

  .search-input{

    width: 100%;
  }

  .navbar-2{

    overflow-x: scroll;
  }

}



@media screen and (max-width:314px){

  .links{

    display: none;
  }
}


@media screen and (max-width:578px){

  .hero-section{

    height: fit-content;
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
}


@media screen and (max-width:628px){

  .shop1{

    max-width: 100%;
  }

}
